* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* === 登录页 === */
.login {
  width: 100%;
  height: 100%;
  position: relative;
  background: #3d6e8a url('../../src/assets/img/login-bg.jpg') no-repeat fixed top;
}
.logo {
  padding-top: 124px;
  text-align: center;
}
.logo > img {
  margin-bottom: 36px;
}
.logo > .blueLine {
  width: 400px;
  height: 12px;
  margin: 0 auto;
  background: #348ac9;
}
.formContent {
  width: 440px;
  height: 360px;
  margin: 0 auto;
  padding: 45px 45px;
  background: white;
}
.formContent input {
  font-size: 14px;
  color: #999;
  line-height: 50px;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #e2e2e2;
}
.formContent .error {
  font-size: 12px;
  color: red;
  line-height: 20px;
  height: 20px;
}
.formContent button {
  font-size: 16px;
  color: white;
  line-height: 50px;
  width: 100%;
  height: 50px;
  margin-top: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #3393d6;
}
.formContent button:hover {
  background: #2c98e3;
}
.formContent a {
  color: #495060;
  line-height: 20px;
  text-align: right;
  width: 50%;
  height: 20px;
  float: right;
}

/* === 大首页 === */
.bg {
  height: 480px;
  position: relative;
  z-index: 1;
  background: #3d6e8a url('../../src/assets/img/menu-bg.png') no-repeat center top;
}
.f16 {
  font-size: 16px;
}
.menu {
  width: 100%;
  height: 175px;
}
.menu > .menuInfo, .menu > .menuItem {
  text-align: right;
  width: 66%;
  margin: 0 auto;
}
.menu > .menuInfo {
  padding-top: 35px;
}
.menu > .menuItem {
  padding: 15px 0;
}
.menuInfo span, .menuItem a {
  font-size: 14px;
  color: #579bc2;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}
.message {
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  background: #295974;
}
.menuInfo > .arrow {
  width: 0;
  height: 0;
  margin-left: -5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #295974;
}
.menuInfo .icon {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid white;
}
.menuInfo .mylist {
  width: 200px;
}
.menuInfo .mylist input.mylistSearch {
  color: #666;
  padding: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.menuInfo .mylist input.mylistSearch:focus {
  outline: 0;
}
.menuInfo .mylist > a {
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  color: #666;
  display: block;
  height: 40px;
  border-bottom: 1px dotted #eee;
}
.menuInfo .mylist > a:last-child {
  border-bottom: 0;
}
.menuInfo .mylist > .mylistContent > a {
  font-size: 12px;
  line-height: 40px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
  display: block;
  width: 80%;
  height: 40px;
  overflow: hidden;
  float: left;
  border-bottom: 1px dotted #eee;
}
.menuInfo .mylist > .mylistContent > a:last-child {
  border-bottom: 0;
}
.menuInfo .mylist > .mylistContent > a:hover {
  color: #2d8cf0;
}
.menuInfo .mylist > .mylistContent > p {
  display: block;
  width: 20%;
  height: 40px;
}
.menuInfo .mylist .myTaskList {
  height: 0;
  overflow-y: auto;
}
.menuInfo .mylist .myTaskList > a {
  display: block;
  padding: 5px;
  background: #eee;
}
.changeToH {
  animation: changeToHeight 0.5s ease 0s 1 alternate forwards;
}
.changeToZ {
  animation: changeToZero 0s ease 0s 1 alternate forwards;
}
.menuItem a {
  margin-left: 24px;
}
.menuInfo > .serviceIcon {
  display: inline-block;
  padding: 15px 30px;
}
.menuInfo > .serviceIcon > a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
}
.menuInfo > .serviceIcon > a:first-child {
  margin-left: 0;
}
.menuInfo .email {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 14px;
  background: url('../../src/assets/img/email.png') no-repeat center/100%;
}
.menuInfo .bag {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 20px;
  border-radius: 10px;
  background: url('../../src/assets/img/bag.png') no-repeat center/100%;
}
.menuInfo .help {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 14px;
  background: url('../../src/assets/img/help.png') no-repeat center/100%;
}
.menuContent {
  position: fixed;
  top: 120px;
  left: 17%;
  width: 66%;
  margin: 0 auto;
  padding: 1%;
  box-shadow: 5px 25px 55px rgba(61, 110, 138, 0.3);
  background: white;
}
.menuContent ul {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  margin-top: -1px;
}
.menuContent ul:nth-child(3) {
  border-bottom: 0;
  border-right: 1px solid white;
}
.menuContent ul:nth-child(3) li {
  border-bottom: 1px solid #ccc;
}
.menuContent ul:nth-child(3) li:last-child {
  border-right: 1px solid #ccc;
}
.menuContent > ul > li {
  display: block;
  width: 20%;
  float: left;
  border-right: 1px solid #ccc;
  position: relative;
}
.menuContent > ul > li:hover {
  animation: neon2 2s infinite linear alternate;
}
.menuContent > ul > li:last-child {
  border-right: 0;
}
.menuContent > ul > li a {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10% 16%;
}
.menuContent > ul > li a img {
  width: 76%;
}
.menuContent > ul > li p {
  font-size: 16px; color: #747474; width: 100%; height: 50px; line-height: 50px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.menuContent > ul > li > div.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.menuContent > ul > li > div.maskWhite {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 999;
}
.menuContent > ul > li > div.mask > div {
  height: 100%;
  position: relative;
}
.menuContent > ul > li > div.mask > div > p{
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 32px;
  text-shadow: 1px 1px 3px #333;
  position: absolute;
  width: 100%;
  height: 32px;
  left: 0;
  bottom: 0;
  background: #3393d6;
}
.mi {
  width: 250px;
  text-align: left;
  border:0;
  padding: 5px 10px;
}
@keyframes neon2 {
  from {box-shadow: inset 0 0 10px #5cadff;}
  to {box-shadow: inset 0 0 50px #b6dafe;}
}

@keyframes changeToHeight {
  from {height: 0;}
  to {height: 170px;}
}
@keyframes changeToZero {
  from {height: 170px;}
  to {height: 0;}
}

/*滚动条样式*/
*::-webkit-scrollbar {
  position: absolute;
  width: 10px !important;
  height: 10px !important;
  background-color: #5cadff;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #eee !important;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #5cadff !important;
}
